<div class="row header">
    <div class="col-sm">
      <h4>User Details</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm list-action-button">
     
      <a href="#" routerLink="add" class="btn btn-link float-right fa fa-file fa-lg action-label">Add New</a>
    </div>
  </div>
  
  <div class="row content">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Contact</th>
            <th scope="col">Address</th>
            <th scope="col">E-mail</th>
            <th scope="col">Biography</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let description of descriptions | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ description.name }}</td>
            <td>{{ description.age }}</td>
            <td>{{ description.contact }}</td>
            <td>{{ description.address }}</td>
            <td>{{ description.email }}</td>
            <td>{{ description.bio }}</td>
            <td><button class='fa fa-eye' (click)='viewDescription(description)' ></button></td>
            <td><button class='delete-label fa fa-trash-o' (click)='deleteDescription(description)' ></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>